@import './../../../styles/mixin.scss';
@import './../../../styles/vars.scss';

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9.6em;
    height: 4.7em;

    background-color: white;
    border-right: 1px solid #DEDEDE;
    cursor: pointer;

    font-family: 'Roboto';
    font-size: 1em;
    font-weight: 500;
    color: $grey;


    @include breakpoint($tablet-bp) {
        padding: 47px auto;
        border: none;
        border-radius: 5px;

        width: 162px;
        height: 49px;
    }
}