@import './../../styles/mixin.scss';
@import './../../styles/vars.scss';

.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10em 6.9em;

    @include breakpoint($tablet-bp) {
       margin: auto;
    }

    //Десктоп:
    .contacts {
        display: flex;
        flex-direction: column;

        font-weight: 400;
        font-family: 'Open Sans';
        margin-right: 5em;
        
        &__title {
            font-size: 5rem;
        }
        
        &__contact {
            margin-top: 1.4em;

            &--title {
                font-size: 2.5rem;
            }

            &--contacts {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 0.8em;

                font-size: 1.8rem;
                font-family: 'Roboto';

                a {
                    color: #606F7A;
                }
                p {
                    margin-top: 1.4em;
                }
            }
        }

        &__socials {
            margin-top: 4.4em;
            font-family: 'Roboto';

            &--title {
                font-size: 2.5rem;
            }

            .socials {
                width: 30.7em;
                margin-top: 2.7em;
                font-size: 1.8rem;

                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                grid-gap: 2.5em;

                &__instagram,
                &__whatsapp,
                &__facebook,
                &__wechat {
                    display: flex;
                    align-items: center;
                    width: auto;

                    img {
                        max-width: 3.5em;
                        max-height: 3.5em;

                        margin-right: 1.7em;
                    }
                }
            }
        }

        @include breakpoint($tablet-bp) {
            display: none;
        }
    }


    //Для мобильной версии:
    .contacts-modal {
        position: relative;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Open Sans';
        margin: 35vh auto;
    
        p, 
        a {
            font-size: 2rem;
            font-weight: 300;
    
            margin-top: 24px;
        }
    
        &__btn {
            width: 9.4em;
            height: 3.2em;
            
            background-color: #FFFFFF;
            
            font-weight: 600;
            font-size: 1.2rem;
            color: #606F7A;
                
            margin-top: 2.5em;
            cursor: pointer;
            transition: 0.2s;
            
            &:hover {
                background-color: #5DAAFF;
                color: white;
            }
        }

        &__footer {
            display: none;
            flex-direction: column;
            align-items: center;

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;

            font-size: 2.8rem;
            font-weight: 300;
            font-family: 'Open Sans';
            margin-bottom: 2.1em;
            text-align: center;

            :not(:last-of-type) {
                margin: 24px 15px 0 0;
            }

            img {
                box-shadow: 0px 4px 40px 0 #2e50571a;
                cursor: pointer;
            }

            @include breakpoint($tablet-bp) {
                display: flex;
            }
        }

        @include breakpoint($tablet-bp) {
            display: flex;
        }
    }

    @media screen and (min-width: $desktop-bp) {
        margin-top: 18em;
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0 6.9em 3.7em 0;
    

    .back-link {
        font-weight: 600;
        font-size: 1.6rem;
        font-family: 'Open Sans';

        color: #5DAAFF;
        cursor: pointer;
        outline: none;

        img {
            margin-right: 20px;
        }
    }

    @include breakpoint($tablet-bp) {
        display: none;
    }
}