.contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #606F7A;
}

.contacts{
    padding-left: 97px;
    
    &__title {
        margin-top: 20px;
    
        font-size: 64px;
        font-family: 'Open Sans';
        font-weight: 400;
    
        p {
            margin: 0;
        }
    }
    
    &__contact {
        margin-top: 72px;

        &--title {
            font-size: 36px;
            font-weight: 400;
            font-family: 'Open Sans';
        }

        &--contacts {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 343px;
            margin-top: 16px;

            font-weight: 400;
            font-size: 23px;
            font-family: 'Roboto';

            a {
                color: #606F7A;
            }
            p {
                margin-top: 32px;
            }
        }
    }

    &__socials {
        margin-top: 72px;
        font-size: 23px;
        font-family: 'Roboto';

        &--title {
            font-weight: 400;
            font-size: 36px;
            font-family: 'Open Sans';
        }

        .socials {
            width: 431px;
            margin-top: 48px;

            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            grid-gap: 58px;

            &__instagram,
            &__whatsapp,
            &__facebook,
            &__wechat {
                display: flex;
                align-items: center;
                width: auto;

                img {
                    max-width: 50px;
                    max-height: 50px;

                    margin-right: 24px;
                }
            }
        }
    }
}