html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background-color: #EFF3F9;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

a:focus { outline: none; }

a {
    text-decoration: none;
}

p {
    margin: 0;
    color: #606F7A;
}

input,
textarea,
button {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 40px 0 #2e50571a;
    outline: none;
    margin: 0;
}

input {
    padding-left: 19px;

    ::placeholder {
        color: #B7B7B7;
        opacity: .5;

        font-size: 15px;
        font-weight: 400;
        font-family: 'Open Sans';
    }
}


.btn{
    font-weight: 600;
    font-size: 17px;
    font-family: 'Open Sans';

    &__search {
        width: 114px;
        height: 53px;
    }

    &__whide{
        width: 262px;
        height: 55px;
    }

    &__medium {
        width: 132px;
        height: 45px;
    }

    &__blue{
        background-color: #5DAAFF;
        color: white;
        margin: 20px 0;

        &:hover {
            background-color: #2876CC;
        }

        &:disabled {
            background-color: #aed3fa;
        }
    }

    &__white-active {
        :active {
            background-color: white;
            color: #606F7A;
        }
    }
}