.selected {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    margin: 35px 97px 97px 97px;


    header {
        display: flex;
    }


    &__title {
        font-size: 36px;
        font-weight: 400;
        margin-right: 42px;
    }


    &__tip {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        max-width: 638px;
        height: 55px;

        background-color: white;
        border-radius: 3px;
        box-shadow: rgba(93, 170, 255, 0.1);
        transition: 0.2s visibility;
        margin-bottom: 15px;

        &-calculate {
            align-self: end;
            margin-right: 9px;
        }

        &-add {
            margin-bottom: 0;
            margin-right: 15px;
        }

        p {
            color: #5DAAFF;
            margin-right: 20px;
        }

        img {
            padding: 25px;
        }

        &-hidden {
            visibility: hidden;
        }
    }



    &__specifications {
        align-self: flex-end;

        max-width: 964px;
        height: 80px;

        background-color:#F8FAFF;
        border: 1px solid #E2E4EA;
        border-radius: 5px;
        margin: 16px 4px 10px 0;

        :not(:last-of-type) {
            border-right: 1px solid #E2E4EA;
        }
    }

    &-items {
        align-self: flex-end;
        overflow: scroll;

        max-width: 1246px;
        max-height: 600px;
    }


    table {
        background-color:#F8FAFF;
        border: 1px solid #E2E4EA;

        tr {
            text-align: center;
            :not(:last-of-type) {
                border-right: 1px solid #E2E4EA;
            }
        }

        .hidden {
            display: none;
        }

        td,
        th {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            padding: 0 15px;
        }

        .description-img {
            padding: 0;
        }

        .description-name {
            max-width: 140px;
            text-align: left;
        }

        .description-1 {
            min-width: 105px;
        }
        .description-2 {
            min-width: 190px;
        }
        .description-3 {
            min-width: 197px;
        }
        .description-4 {
            min-width: 165px;
        }
        .description-5 {
            min-width: 179px;
        }
        .description-6 {
            min-width: 128px;
        }
    }




    &__footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 48px;
        right: 97px;

        &-btns {
            display: flex;
            align-items: center;
        }
    }
}