@import './mixin.scss';
@import './vars.scss';

.selection {
    margin: auto 6.9em;
    align-self: start;
    width: 100%;

    &__header {
        display: block;
        p {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 2.5rem;

            text-align: start;
        }

        @include breakpoint($tablet-bp) {
            display: none;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        margin-top: 32px;
        width: 35em;

        &--input {
            width: 26em;
            height: 4.2em;
            margin-right: 8px;
            padding-left: 15px;

            @include breakpoint($tablet-bp) {
                width: 80vw;
                margin-right: 0;

                background-color: transparent;
                border-bottom: 1.5px solid $light-grey;
            }
        }

        @include breakpoint($tablet-bp) {
            width: 100vw;
            margin-top: 10em;
            margin-bottom: 1.4em;
        }
    }

    .selection__wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .selection__items {
            display: flex;
            flex-direction: column;
    
            margin: 2.7em 0 0 0;
            height: 29em;
    
            overflow: scroll;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
    
            &--item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 1.8rem;

                width: 40em;
                height: 7em;
    
                background-color: #F8FAFF;
                padding-right: 1.2em;
                border-radius: 3px;
                border: 1px solid #E2E4EA;
                box-shadow: 0px 4px 40px 0 #2e50571a;
    
                margin: 0 0 4px 0;

                img {
                    height: 100%;
                }
    
                &--name {
                    margin: auto;
                }

                @include breakpoint($tablet-bp) {
                    width: 100vw;
                }
            }

            @include breakpoint($tablet-bp) {
                width: 100vw;
                height: 100vh;
                margin-top: 0;
            }
        }

        @include breakpoint($tablet-bp) {
            width: 100vw;
            height: 100vh;
        }
    }

    @include breakpoint($tablet-bp) {
        width: 100vw;
        padding: 0;
        margin: 0 0 15px 0;
    }
}