@import './mixin.scss';
@import './vars.scss';


.selection__header {
    display: grid;
    grid-template-columns: 5fr 4fr;
    padding: 11.7em 6.9em 1em 6.9em;
    p {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 2.5rem;

        text-align: start;
    }

    @include breakpoint($tablet-bp) {
        display: none;
    }
}

.selection {
    //display: flex;
    display: grid;
    grid-template-columns: 5fr 4fr;
    padding: 0 6.9em;
    margin: auto;

    .selection__wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin-right: 10em;

        .selection__search {
            display: flex;
            align-items: center;
            margin-top: 2em;
    
            &--input {
                width: 26em;
                height: 4em;
                margin-right: 8px;
                padding-left: 15px;
    
                @include breakpoint($tablet-bp) {
                    width: 80vw;
                    margin-right: 0;
    
                    background-color: transparent;
                    border-bottom: 1.5px solid $light-grey;
                }
            }
    
            @include breakpoint($tablet-bp) {
                width: 100vw;
                margin-top: 10em;
                margin-bottom: 1.4em;
            }
        }

        .selection__items {
            display: flex;
            flex-direction: column;
    
            margin-top: 3em;
            max-height: 33em;
            min-width: 50em;
    
            overflow: scroll;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            &--name {
                margin: auto 1em;
            }
    
            &--item {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 1.5rem;
    
                background-color: #F8FAFF;
                padding-right: 1.2em;
                border-radius: 3px;
                border: 1px solid #E2E4EA;
                box-shadow: 0px 4px 40px 0 #2e50571a;
    
                margin: 0 0 4px 0;

                img {
                    height: 5em;
                }

                @include breakpoint($tablet-bp) {
                    width: 100vw;
                }
            }

            @include breakpoint($tablet-bp) {
                width: 100vw;
                height: 100vh;
                margin-top: 0;

                min-height: 100vh;
                min-width: 50em;
            }
        }

        @include breakpoint($tablet-bp) {
            height: 100vh;
            margin: 0;
            width: 100%;
        }
    }

    @include breakpoint($tablet-bp) {
        width: 100vw;
        padding: 0;
        margin: 0 0 15px 0;
    }
}