.selected {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    margin: 3.3em auto;


    header {
        display: flex;
    }


    &__title {
        font-size: 3rem;
        font-weight: 400;
        margin-right: 42px;
    }


    &__tip {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        max-width: 638px;
        height: 55px;

        background-color: white;
        border-radius: 3px;
        box-shadow: rgba(93, 170, 255, 0.1);
        transition: 0.2s visibility;
        margin-bottom: 15px;
        cursor: pointer;

        &-calculate {
            align-self: end;
            margin-right: 9px;
        }

        &-add {
            margin-bottom: 0;
            margin: 0 15px 0 97px;
        }

        p {
            color: #5DAAFF;
            margin-right: 20px;
        }

        img {
            padding: 25px;
        }

        &-hidden {
            visibility: hidden;
        }
    }

    &__specifications {
        align-self: flex-end;

        max-width: 964px;
        height: 80px;

        background-color:#F8FAFF;
        border: 1px solid #E2E4EA;
        border-radius: 5px;
        margin: 16px 0 10px 250px;

        :not(:last-of-type) {
            border-right: 1px solid #E2E4EA;
        }
    }


    &-items {
        align-self: flex-end;

        max-width: 1246px;
        max-height: 600px;

        overflow: scroll;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &--remove {
            cursor: pointer;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
        }
    }


    table {
        background-color:#F8FAFF;
        border: 1px solid #E2E4EA;

        tr {
            text-align: center;
            :not(:last-of-type) {
                border-right: 1px solid #E2E4EA;
            }

            .hidden {
                display: none;
            }
        }

        td,
        th {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 1.2rem;
            padding: 0 15px;
        }

        .description-img {
            min-width: 120px;
            padding: 0;
        }

        .description-name {
            min-width: 130px;
            text-align: left;
        }

        .description-1 {
            width: 105px;
        }
        .description-2 {
            width: 190px;
        }
        .description-3 {
            width: 197px;
        }
        .description-4 {
            width: 165px;
        }
        .description-5 {
            width: 179px;
        }
        .description-6 {
            width: 128px;
        }
    }



    &__footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 48px;
        right: 97px;

        &-btns {
            display: flex;
            align-items: center;
        }
    }
}