.contact-form {
    display: grid;
    grid-template-rows: 2fr 0.5fr 3fr;

    margin-left: 76px;
    margin-top: 130px;

    font-family: 'Open Sans';
    max-height: 620px;

    p {
        height: 10px;
    }
    

    &__inputs {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-self: flex-end;
        max-width: 502px;

        input {
            width: 246px;
            height: 53px;
            margin: 0 10px 10px 0;

            :active {
                border: 1px solid #FF5D5D;
            }
        }
    }

    &__textarea {
        max-width: 502px;
        max-height: 300px;

        margin-top: 18px;
        
        textarea {
            width: 502px;
            height: 124px;

            margin-top: 20px;
        }
    }
}