@import './../../styles/mixin.scss';
@import './../../styles/vars.scss';

.contact-form {
    display: grid;
    grid-template-rows: 2fr 0.5fr 3fr;
    font-family: 'Open Sans';

    p {
        height: 10px;
    }
    

    &__inputs {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-self: flex-end;
        width: 35.8em;

        input {
            width: 17.5em;
            height: 3.7em;
            margin: 0 10px 10px 0;

            :active {
                border: 1px solid #FF5D5D;
            }
        }
    }

    &__textarea {
        display: flex;
        flex-direction: column;
        margin-top: 1.2em;
        
        textarea {
            width: 35.8em;
            height: 7.1em;
            margin-top: 1.4em;
        }
    }

    @include breakpoint($tablet-bp) {
        display: none;
    }
}