@import './../../styles/mixin.scss';
@import './../../styles/vars.scss';

.options {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;

    border-radius: 5px;
    margin-left: 60px;
    padding-left: 1.2em;
    cursor: pointer;

    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto';

    :last-of-type {
        margin-left: .3em;
    }

    &__pen {
        margin-right: .3em;
    }

    img {
        width: 17px;
        margin: auto 7px;
    }

    &__active {
        background-color: white;
        box-shadow: 0px 4px 40px 0 #2e50571a;
    }

    @include breakpoint($tablet-bp) {
        display: none;
    }
}