@import './../../styles/mixin.scss';
@import './../../styles/vars.scss';

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    justify-items: center;

    padding: 3.5em 97px 0 97px;

    &__logoAndOptions {
        display: flex;
        align-items: center;
    }
    
    &__btn {
        @include breakpoint($tablet-bp) {
            padding: 10px;
        }

        &--burger {
            display: none;
    
            @include breakpoint($tablet-bp) {
                display: inline-block;
            }
        }
    }

    @include breakpoint($tablet-bp) {
        padding: 24px 20px;
    }

    .btn__white {
        width: 7.7em;
        height: 45px;
    
        background-color: white;
        font-family: 'Open Sans';
        color: #606F7A;
        font-size: 1.5rem;
    
        cursor: pointer;
        transition: 0.2s;
    
        &:hover {
            background-color: #5DAAFF;
            color: white;
        }
    
        @include breakpoint($tablet-bp) {
            display: none;
        }
    }
}