@import './../../styles/mixin.scss';
@import './../../styles/vars.scss';


.form-container {
    display: flex;
    flex-direction: row;
    
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

            &__item {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 135px;

                border-right: 1px solid #DEDEDE;
                background-color: white;
                cursor: pointer;

                img {
                    margin-left: 10px;
                }

                &--from,
                &--to,
                &--usd,
                &--rate {
                    display: flex;
                    width: 100%;
                    border: none;

                    align-items: center;
                    justify-content: center;

                    font-family: 'Roboto';
                    font-size: 15px;
                    align-self: flex-start;


                    &__results {
                        position: absolute;
                        top: 67px;
                    
                        align-items: center;
                        width: 100%;
                        z-index: 100;

                        .hidden {
                            display: none;
                        }
                    
                        li {
                            padding: 20px;
                            height: 67px;
                            cursor: pointer;

                            border-bottom: 1px solid #DEDEDE;
                            border-top: 1px solid #DEDEDE;
                            border-radius: 0 0 3px 3px;
                            background-color: white;
                            max-height: 200px;
                            width: 100.5%;
                            margin: 0;
                            overflow: scroll;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                    
                            :not(:last-of-type) {
                                border-bottom: 1px solid #DEDEDE;
                            }

                            @include breakpoint($tablet-bp) {
                                height: 49px;
                                width: 100%;
                            }
                        }

                        @include breakpoint($tablet-bp) {
                            top: 46px;
                        }
                    }
                }
                &--rate {
                    height: 100%;
                    p {
                        color: #B7B7B7;
                    }
                }

                @include breakpoint($tablet-bp) {
                    padding: 47px auto;
                    border: none;
                    border-radius: 5px;

                    width: 162px;
                    height: 49px;
                }
            }


        &__nextBtn {
            margin-left: 12px;
            width: 163px;
            height: 67px;
        
            background-color: #5DAAFF;
            color: white;
        
            font-family: 'Roboto';
            font-size: 17px;
            font-weight: 500;
        
            cursor: pointer;
        
            &:hover {
                background-color: #2876CC;
                color: white;
            }
        
            @include breakpoint($tablet-bp) {
                width: 335px;
                height: 55px;
        
                margin: 24px auto;
            }
        }

        @include breakpoint($tablet-bp) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px 10px;
        }
    }

    @include breakpoint($tablet-bp) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 335px;
    }
}