.form-wrapper {
    display: flex;
}

.form-container {
    width: 524px;
    height: 67px;

    background-color: white;
    box-shadow: 0px 4px 40px 0 #2e50571a;
    border-radius: 3px;

    display: flex;
    align-items: center;
    

    .form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        height: 47px;
        width: 100%;

        &__from {
            max-width: 90%;
            padding-left: 20px;
            margin-right: 0;
        }
        &__item {
            display: flex;
            align-items: center;
            justify-content: center;

            border-right: 1px solid #DEDEDE;
            cursor: pointer;
        }

        &__from,
        &__to,
        &__usd {
            display: flex;
            height: 50px;
            border: none;
            padding: 0;
            margin-right: 10px;

            font-family: 'Roboto';
            font-size: 15px;

            width: 100%;
            align-self: flex-start;

            &:focus {
                outline: none;
            }
        }

        &__option {
            width: 135px;
            height: 67px;
        }

        &__rate {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;

            p {
                color: #B7B7B7;
                font-family: 'Roboto';
                font-weight: 500;
                font-size: 15px;
            }
        }


        select {
            position: relative;

            display: flex;
            justify-self: center;
            text-align: center;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            background: url(../../assets/images/smallArrowDown.svg) no-repeat right center;
        }
    }
}

.nextBtn {
    margin-left: 12px;
    width: 163px;
    height: 67px;

    background-color: #5DAAFF;
    color: white;

    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 500;

    cursor: pointer;

    &:hover {
        background-color: #2876CC;
        color: white;
    }
}